# Builds
build/

# Eclipse files/folders
.cproject
.project
.pydevproject
.settings

# Scons database
.sconsign.dblite

# cxxtest Files
CxxTests/*
!CxxTests/*.h
site_scons/site_tools/cxxtest.pyc

# Documentation

# built files
*~




